{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4 w-80 border-2 border-black p-4 rounded-md mx-auto">
      <h3 class="text-center">{% translate "Login" %}</h3>

      {% if form.non_field_errors %}
        <div class="notification notification--error">{{ form.non_field_errors }}</div>
      {% endif %}

      <form method="post"
            class="flex flex-col gap-y-4"
            action="{% url 'account_login' %}">
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-y-4">
          {{ form.login.label_tag }}
          {{ form.login }}

          {{ form.password.label_tag }}
          {{ form.password }}

          <label>
            {{ form.remember }}
            {{ form.remember.label }}
          </label>
        </div>

        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}" />
        {% endif %}

        <button type="submit" class="button button__primary">{% translate "Sign In" %}</button>
      </form>
    </section>
  </main>
{% endblock content %}
