{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4 w-80 border-2 border-black p-4 rounded-md mx-auto">
      <h3 class="text-center">{% translate "Sign Out" %}</h3>

      <p class="text-center">{% translate "Are you sure you want to sign out?" %}</p>

      <form method="post"
            class="flex flex-col"
            action="{% url 'account_logout' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}" />
        {% endif %}

        <button type="submit" class="button button__primary">{% translate "Sign Out" %}</button>
      </form>
    </section>
  </main>
{% endblock content %}
