{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4">
      <h3>{% translate "Auctions" %}</h3>

      <div class="grid grid-cols-4 gap-8">
        {% for auction in auctions %}
          {% include "auctions/elements/card.html" with auction=auction show_status=True %}
        {% empty %}
          <p class="font-bold col-span-3">{% translate "You don't have any auctions" %}</p>
        {% endfor %}
      </div>
    </section>

    <section class="flex flex-col gap-y-4">
      <h3>{% translate "Bids" %}</h3>

      <div class="grid grid-cols-4 gap-8">
        {% for auction in bids %}
          {% include "auctions/elements/card.html" with auction=auction show_controls=True %}
        {% empty %}
          <p class="font-bold col-span-3">{% translate "You don't have bids on any active auction" %}</p>
        {% endfor %}
      </div>
    </section>

    <section class="flex flex-col gap-y-4">
      <h3>{% translate "Pending Auctions" %}</h3>

      <div class="grid grid-cols-4 gap-8">
        {% for auction in pending %}
          {% include "auctions/elements/card.html" with auction=auction show_controls=True %}
        {% empty %}
          <p class="font-bold col-span-3">{% translate "You don't have any pending payments on auctions" %}</p>
        {% endfor %}
      </div>
    </section>

    <section class="flex flex-col gap-y-4">
      <h3>{% translate "Completed" %}</h3>

      <div class="grid grid-cols-4 gap-8">
        {% for auction in completed %}
          {% include "auctions/elements/card.html" with auction=auction show_controls=True %}
        {% empty %}
          <p class="font-bold col-span-3">{% translate "You don't have any completed auctions" %}</p>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock content %}
