{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4 w-2/4 border-2 border-black p-4 rounded-md mx-auto">
      <h3 class="text-center">{% translate "Create Account" %}</h3>

      {% if form.non_field_errors %}
        <div class="notification notification--error">{{ form.non_field_errors }}</div>
      {% endif %}

      <form method="post"
            class="flex flex-col gap-y-4"
            action="{% url 'account_signup' %}">
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-y-4">
          {% for field in form %}
            {{ field.label_tag }}

            <div class="flex flex-col">
              {{ field }}

              {% for error in field.errors %}<small class="font-bold text-red-500">{{ error }}</small>{% endfor %}
            </div>
          {% endfor %}
        </div>

        <button type="submit" class="button button__primary">{% translate "Submit" %}</button>
      </form>
    </section>
  </main>
{% endblock content %}
