{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4 w-80 border-2 border-black p-4 rounded-md mx-auto">
      <h3 class="text-center">{% translate "Enter Bid" %}</h3>

      {% if form.non_field_errors %}
        <div class="notification notification--error">{{ form.non_field_errors }}</div>
      {% endif %}

      <form method="post" class="flex flex-col gap-y-4">
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-y-4">
          {{ form.amount.label_tag }}

          <div class="flex flex-col">
            {{ form.amount }}
            {{ field }}

            {% for error in form.amount.errors %}<small class="font-bold text-red-500">{{ error }}</small>{% endfor %}
          </div>
        </div>

        <button class="button button__primary">{% translate "Submit" %}</button>
      </form>
    </section>
  </main>
{% endblock content %}
