{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="flex flex-col gap-y-4 w-2/4 border-2 border-black p-4 rounded-md mx-auto">
      <h3 class="text-center">{% translate "Create Auction" %}</h3>

      <form method="post"
            class="flex flex-col gap-y-4"
            enctype="multipart/form-data"
            action="{% url 'auctions:create' %}">
        {% csrf_token %}

        {% if form.non_field_errors or image_formset.non_field_errors %}
          <div class="notification notification--error">
            {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
            {% if image_formset.non_field_errors %}{{ image_formset.non_field_errors }}{% endif %}
          </div>
        {% endif %}

        <div class="grid grid-cols-2 gap-4">
          {% for field in form %}
            {{ field.label_tag }}

            <div class="flex flex-col">
              {{ field }}

              {% for error in field.errors %}<small class="font-bold text-red-500">{{ error }}</small>{% endfor %}
            </div>
          {% endfor %}
        </div>

        <h5 class="text-center">
          {% translate "Images" %}

          <button type="button" class="button button__primary" onclick="addImageForm()">{% translate "Add Image" %}</button>
        </h5>

        {{ image_formset.management_form }}

        <div id="image-formset-container" class="grid grid-cols-3 gap-4">
          {% for form in image_formset %}
            <div class="flex flex-col gap-y-4">
              <div class="flex flex-col">
                {{ form.src }}

                {% for error in form.src.errors %}<small class="font-bold text-red-500">{{ error }}</small>{% endfor %}
              </div>

              {{ form.description.label_tag }}

              <div class="flex flex-col">
                {{ form.description }}

                {% for error in form.description.errors %}<small class="font-bold text-red-500">{{ error }}</small>{% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>

        {% comment %}Empty formset to clone using js{% endcomment %}
        <div id="image-form-template" class="hidden">
          {% with formset=image_formset.empty_form %}
            <div class="flex flex-col gap-y-4">
              {{ formset.src }}

              {{ formset.description.label_tag }}

              {{ formset.description }}
            </div>
          {% endwith %}
        </div>

        <button class="button button__primary">{% translate "Submit" %}</button>
      </form>
    </section>
  </main>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/auction-create.js' %}"></script>
{% endblock scripts %}
