{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <div class="flex gap-x-8">
      <article class="flex gap-8 w-5/6">
        <section class="flex flex-col">
          {% with image=object.images.first %}
            <figure class="w-96 h-96">
              <img id="selected-image"
                   class="object-contain"
                   src="{{ image.src.url }}"
                   alt="{{ image.description }}">

              <figcaption id="selected-image-description" class="text-center">{{ image.description }}</figcaption>
            </figure>
          {% endwith %}

          <div class="flex gap-x-4 justify-center">
            {% for image in object.images.all %}
              <figure class="w-20 h-20">
                <img src="{{ image.src.url }}"
                     alt="{{ image.description }}"
                     class="image__preview"
                     data-description="{{ image.description }}"
                     onclick="setSelectedImage(event)">
              </figure>
            {% endfor %}
          </div>
        </section>

        <section class="flex flex-col gap-y-4">
          <h2>{{ object.short_description }}</h2>

          <p>{{ object.description }}</p>

          <strong>${{ object.current_price }}</strong>

          {% if user != object.owner and user != object.current_bid.bidder and not object.expired %}
            <p>
              <a class="button button__primary"
                 href="{% url 'auctions:bid' object.id %}">{% translate "Bid" %}</a>
            </p>
          {% endif %}
        </section>
      </article>

      <aside class="w-1/6">
        <h2>{% translate "Bids" %}</h2>

        {% now "Y-m-d H:i" as current_datetime %}

        {% for bid in object.bids.all %}
          <div>
            {% blocktranslate with amount=bid.amount bidder=bid.bidder %}
                <p>$ {{ amount }} - by {{ bidder }}</p>
                {% endblocktranslate %}
            <small>
              <em>
                {% if current_datetime == bid.date|date:"Y-m-d H:i" %}
                  {% translate "Just now" %}
                {% else %}
                  {% blocktranslate with bid_date_since=bid.date|timesince %}
                        {{ bid_date_since }} ago
                        {% endblocktranslate %}
                {% endif %}
              </em>
            </small>
          </div>
        {% empty %}
          <p>{% translate "There are no bids for this auction yet" %}</p>
        {% endfor %}
      </aside>
    </div>
  </main>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/auction-detail.js' %}"></script>
{% endblock scripts %}
