{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <div class="grid grid-cols-4 gap-8">
      {% for auction in auctions %}
        <a href="{% url 'auctions:detail' pk=auction.id %}">
          {% include "auctions/elements/card.html" with auction=auction %}
        </a>
      {% endfor %}
    </div>

    <nav class="flex justify-center" role="navigation" aria-label="pagination">
      <ul class="flex gap-x-4">
        {% if page_obj.has_previous %}
          <li>
            <a class="button" href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
          </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
          <li>
            <a class="button{% if page_num == page_obj.number %} button__primary{% endif %}"
               href="?page={{ page_num }}"
               aria-label="Goto page {{ page_num }}">{{ page_num }}</a>
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li>
            <a class="button" href="?page={{ page_obj.next_page_number }}">{% translate "Next page" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </main>
{% endblock content %}
