{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <div class="grid w-1/2 mx-auto grid-cols-2 gap-8">
      {% include "auctions/elements/card.html" with auction=auction %}

      <form id="payment-form" class="flex flex-col gap-y-4">
        <div id="card-element" class="border-2 border-black rounded-md px-2 py-1"></div>

        <button class="button button__primary">{% translate "Pay" %}</button>
      </form>
    </div>
  </main>
{% endblock content %}

{% block scripts %}
  {{ public_key|json_script:'stripe-key' }}
  {{ success_url|json_script:'success-url' }}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/js-cookie-2.2.1.min.js' %}"></script>
  <script src="{% static 'js/payments.js' %}"></script>
{% endblock scripts %}
