{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <section class="text-center flex flex-col gap-y-4 w-80 border-2 border-black p-4 rounded-md mx-auto">
      <h3>{% translate "Thank you!" %}</h3>
      <p>{% translate "Your payment was sent. You will receive a notification once it is validated." %}</p>
    </section>
  </main>
{% endblock content %}
