@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-6xl
}

h2 {
  @apply text-5xl
}

h3 {
  @apply text-4xl
}

h4 {
  @apply text-3xl
}

h5 {
  @apply text-2xl
}

h6 {
  @apply text-xl
}

body {
  @apply flex flex-col gap-y-8 h-full min-h-screen
}

label {
  @apply font-bold
}

input {
  @apply border-2 border-black rounded-md focus:outline-none px-2 py-0.5
}

textarea {
  @apply border-2 border-black rounded-md focus:outline-none px-2 py-0.5
}

.button {
  @apply border font-bold rounded-md px-2 py-1
}

.button__primary {
  @apply text-white bg-black
}

.notification {
  @apply border-2 p-4 rounded-md
}

.notification--success {
  @apply bg-lime-300 border-lime-500 text-white
}

.notification--error {
  @apply bg-red-300 border-red-500 text-white
}
