{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Auctioneer
      {% endblock title %}
    </title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

  <body>
    <header class="container mx-auto p-4">
      <nav class="flex justify-between gap-x-4">
        <ul class="flex items-center gap-x-4">
          <li>
            <a href="{% url 'home' %}">Auctioneer</a>
          </li>
          <li>
            <a href="{% url 'auctions:list' %}">{% translate "Buy" %}</a>
          </li>
          <li>
            <a href="{% url 'auctions:create' %}">{% translate "Sell" %}</a>
          </li>
          <li>
            <form method="get" role="search" action="{% url 'auctions:list' %}">
              <input type="text" name="q" placeholder="{% translate "Search auctions" %}">
              <button type="submit" class="button button__primary">Search</button>
            </form>
          </li>
        </ul>

        <ul class="flex items-center gap-x-4">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'accounts:profile' %}">{% translate "Profile" %}</a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">{% translate "Logout" %}</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'account_login' %}">{% translate "Log in" %}</a>
            </li>
            <li>
              <a href="{% url 'account_signup' %}">{% translate "Sign up" %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% if messages %}
      <section class="flex gap-y-4 justify-center container mx-auto">
        {% for message in messages %}
          <div class="notification notification--{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </section>
    {% endif %}

    {% block content %}
      {# Override page specific content using this block #}
    {% endblock content %}

    <footer class="container mx-auto mt-auto p-4 text-center">
      <p>Auctioneer - {% now "Y" %}</p>
    </footer>

    {% block scripts %}
      {# Override page specific scripts using this block #}
    {% endblock scripts %}
  </body>
</html>
