{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <main class="flex flex-col container mx-auto gap-8">
    <h1 class="text-center">Welcome to auctioneer!</h1>

    <p>{% lorem %}</p>

    <hr>

    <article class="flex flex-col gap-y-8">
      <header class="text-center">
        <h2>Bidder steps</h2>
      </header>

      <article class="flex flex-row gap-x-4">
        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step one of the bidding process" %}" />
        </figure>

        <section>
          <h3>Bid step 1</h3>

          <p>{% lorem %}</p>
        </section>
      </article>

      <article class="flex flex-row gap-x-4">
        <section>
          <h3>Bid step 2</h3>

          <p>{% lorem %}</p>
        </section>

        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step two of the bidding process" %}" />
        </figure>
      </article>

      <article class="flex flex-row gap-x-4">
        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step three of the bidding process" %}" />
        </figure>

        <section>
          <h3>Bid step 3</h3>

          <p>{% lorem %}</p>
        </section>
      </article>

      <article class="flex flex-row gap-x-4">
        <section>
          <h3>Bid step 4</h3>

          <p>{% lorem %}</p>
        </section>

        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step four of the bidding process" %}" />
        </figure>
      </article>

      <footer class="flex justify-center">
        <a href="{% url 'auctions:list' %}" class="button button__primary">Start bidding now!</a>
      </footer>
    </article>

    <hr>

    <article class="flex flex-col gap-y-8">
      <header class="text-center">
        <h2>Seller steps</h2>
      </header>

      <section class="flex flex-row gap-x-4">
        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step one of the seller process" %}" />
        </figure>

        <section>
          <h3>Seller step 1</h3>

          <p>{% lorem %}</p>
        </section>
      </section>

      <section class="flex flex-row gap-x-4">
        <section>
          <h3>Seller step 2</h3>

          <p>{% lorem %}</p>
        </section>

        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step two of the seller process" %}" />
        </figure>
      </section>

      <section class="flex flex-row gap-x-4">
        <figure>
          <img src="{% static 'img/sq_image_ph.webp' %}"
               alt="{% translate "An image describing step three of the seller process" %}" />
        </figure>

        <section>
          <h3>Seller step 3</h3>

          <p>{% lorem %}</p>
        </section>
      </section>

      <footer class="flex justify-center">
        <a href="{% url 'auctions:create' %}" class="button button__primary">Start selling now!</a>
      </footer>
    </article>
  </main>
{% endblock content %}
