{% load i18n %}
{% load static %}

<article class="flex flex-col h-full border-2 border-black rounded-md overflow-hidden">
  <figure class="h-60">
    {% with first_image=auction.images.first %}
      {% if first_image %}
        <img class="h-full"
             src="{{ first_image.src.url }}"
             alt="{{ first_image.description }}">
      {% else %}
        <img class="h-full"
             src="{% static 'img/rect_image_ph.webp' %}"
             alt="Auction fallback image">
      {% endif %}
    {% endwith %}
  </figure>

  <section class="flex flex-col px-4 py-2">
    <h3>{{ auction.short_description }}</h3>

    <p>{{ auction.description }}</p>

    <p class="font-bold">${{ auction.current_price }}</p>

    {% if show_status %}
      <p>{% translate "Status" %}: {{ auction.get_status_display }}</p>
    {% endif %}

    {% if show_controls %}
      <footer>
        {% if auction.status == 'NEW' and user != auction.current_bid.bidder %}
          <a class="button button__primary"
             href="{% url 'auctions:bid' auction.id %}">{% translate "Bid" %}</a>
        {% elif auction.status == 'PAYMENT_PENDING' %}
          <a class="button button__primary"
             href="{% url 'auctions:pay' auction.id %}">{% translate "Pay" %}</a>
        {% endif %}
      </footer>
    {% endif %}
  </section>
</article>
